<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div class="container" >
  <google-map
      height="800px"
      width="100%"
      [zoom]="zoom"
      [center]="center"
      [options]="options"
><map-marker
    *ngFor="let marker of markerPositions"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
>
</map-marker>
</google-map>
<!-- Use custom zoom buttons -->
<button (click)="zoomIn()">Zoom in</button>
<button (click)="zoomOut()">Zoom out</button>
</div>

<!-- <agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<input #fileImportInput (change)="fileChangeListener($event)" type="file" name="csv" accept="csv/*"> -->